<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

</head>
<body>
        <div class="wrapper">
        <h2>Запрошуємо почитати статті</h2>
        <div class="arctical"></div>
        <!-- <div class="renderInput"></div> -->
        <div class="enter">
            <label name="lol" for="">Введіть свою статтю</label>
            <input type="text" placeholder="Ведіть назву статті">
            <textarea name="arctic" id="1" cols="33" rows="6" placeholder="текст статті"></textarea>
            <input type="submit" value="Зберегти">
        </div>
    </div>

    <script src="/javascript/javascript-2.js"></script>
</body>
</html>